In [27]:
import pandas as pd
import numpy as np

In [28]:
TDS_7=pd.read_csv('data/TDS_7.csv',header=0)
TDS_8=pd.read_csv('data/TDS_8.csv',header=0)

In [29]:
df=pd.concat([TDS_7, TDS_8], ignore_index=True)
df = df.drop(columns=['Unnamed: 0', '時間', '曜日_数値', '曜日', '休日'])
df.head()

,ソアリン,トイストーリーマニア,タワーオブテラー,センターオブジアース,インディージョーンズ,レイジングスピリッツ,マジックランプシアター,タートルトーク
0,95,65,50,25,5,5,0,0
1,80,65,45,35,10,5,0,0
2,110,65,55,45,10,10,0,0
3,110,65,60,45,10,10,0,0
4,120,65,55,40,20,20,30,15

In [30]:
ranking=df.mean()
display(ranking)

ソアリン           84.413842
トイストーリーマニア     68.810028
タワーオブテラー       55.205685
センターオブジアース     45.221575
インディージョーンズ     33.131179
レイジングスピリッツ     28.129414
マジックランプシアター    19.480932
タートルトーク        21.972105
dtype: float64

In [31]:
data = {
    'アトラクション': ['ソアリン', 'トイストーリーマニア', 'タワーオブテラー', 'センターオブジアース', 'インディージョーンズ', 'レイジングスピリッツ', 'マジックランプシアター', 'タートルトーク'],
    '待ち時間': [84.413842, 68.810028, 55.205685, 45.221575, 33.131179, 28.129414, 19.480932, 21.972105]
}

# DataFrameに変換
df = pd.DataFrame(data)

sorted_df_desc = df.sort_values(by='待ち時間', ascending=False)
print("待ち時間でソート（降順）:\n", sorted_df_desc)

待ち時間でソート（降順）:
        アトラクション       待ち時間
0         ソアリン  84.413842
1   トイストーリーマニア  68.810028
2     タワーオブテラー  55.205685
3   センターオブジアース  45.221575
4   インディージョーンズ  33.131179
5   レイジングスピリッツ  28.129414
7      タートルトーク  21.972105
6  マジックランプシアター  19.480932

In [32]:
df['weight'] = df['待ち時間'].round()
df=df.drop(columns=['待ち時間'])

# 結果を表示
print("四捨五入したデータフレーム:\n", df)

四捨五入したデータフレーム:
        アトラクション  weight
0         ソアリン    84.0
1   トイストーリーマニア    69.0
2     タワーオブテラー    55.0
3   センターオブジアース    45.0
4   インディージョーンズ    33.0
5   レイジングスピリッツ    28.0
6  マジックランプシアター    19.0
7      タートルトーク    22.0

In [35]:
data = {
    'アトラクション': ['ソアリン', 'トイストーリーマニア', 'タワーオブテラー', 'センターオブジアース', 'インディージョーンズ', 'レイジングスピリッツ', 'マジックランプシアター', 'タートルトーク'],
    'weight': [84, 69, 55, 45, 33, 28, 19, 22]
}

df = pd.DataFrame(data)

# 結果を表示
df.head()

      アトラクション  weight
0        ソアリン      84
1  トイストーリーマニア      69
2    タワーオブテラー      55
3  センターオブジアース      45
4  インディージョーンズ      33

In [ ]:
attractions = {
    0: 'ソアリン',
    1: 'トイストーリーマニア',
    2: 'タワーオブテラー',
    3: 'センターオブジアース',
    4: 'インディージョーンズ',
    5: 'レイジングスピリッツ',
    6: 'マジックランプシアター',
    7: 'タートルトーク'
}

In [ ]:
move_time = [
    [0,4],
    [],
    [],
    [],
    [],
    [],
    [],
    []
]

In [1]:
import itertools

# 8種類のアイテムを定義
items = list(range(1, 9))

# 重複を許す組み合わせを計算
combinations = list(itertools.combinations_with_replacement(items, 15))

# 組み合わせの数を表示
print(f"組み合わせの総数: {len(combinations)}")

# 最初の10個の組み合わせを表示
for comb in combinations[:10]:
    print(comb)

組み合わせの総数: 170544
(1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1)
(1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2)
(1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3)
(1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4)
(1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 5)
(1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 6)
(1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 7)
(1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 8)
(1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2)
(1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 3)

In [1]:
8**20

1152921504606846976

In [5]:
import os
import pandas as pd

# ディレクトリの指定
directory = './date_data2/'

# 空のリストを作成
file_sums = []

# "re"で始まり"review.csv"で終わるファイルをリストに格納
csv_files = [f for f in os.listdir(directory) if f.endswith('.csv')]

# 各ファイルについて処理を行う
for file in csv_files:
    file_path = os.path.join(directory, file)
    
    # CSVファイルを読み込み、2行目以降を取得
    df = pd.read_csv(file_path)
    
    # 2行目以降の数値部分の合計を計算
    numeric_sum = df.iloc[1:].select_dtypes(include='number').sum().sum()  # 数値列だけを選び、合計
    
    # ファイル名と合計値をリストに追加
    file_sums.append({'File Name': file, 'Sum': numeric_sum})

# データフレームに変換
summary_df = pd.DataFrame(file_sums)

sorted_df = summary_df.sort_values(by='Sum', ascending=False)

# 結果を表示
display(sorted_df)

          File Name    Sum
64   2023-08-10.csv  45915
97   2022-08-12.csv  43990
38   2022-07-17.csv  43685
113  2022-08-14.csv  42800
76   2023-08-17.csv  42235
..              ...    ...
54   2022-07-13.csv  25590
55   2022-07-07.csv  25050
66   2022-07-20.csv  24680
47   2022-07-04.csv  24615
56   2022-07-06.csv  23860

[118 rows x 2 columns]

In [6]:
import os

def rename_files_in_folder(folder_path):
    # 指定フォルダ内のすべてのファイルを取得
    for filename in os.listdir(folder_path):
        # ファイルが指定のパターンに一致するか確認
        if filename.startswith("re_best_results_2023-08-") and filename.endswith("t35_review.csv"):
            # 新しいファイル名を作成
            new_filename = filename.replace("t35_review.csv", "t30_take2_review.csv")
            # ファイルのフルパスを取得
            old_filepath = os.path.join(folder_path, filename)
            new_filepath = os.path.join(folder_path, new_filename)
            # ファイルの名前を変更
            os.rename(old_filepath, new_filepath)
            print(f"Renamed: {filename} -> {new_filename}")

# 使用例
folder_path = "../graduation-research/automation_best_result_csv/"  # フォルダのパスを指定
rename_files_in_folder(folder_path)

Renamed: re_best_results_2023-08-20_r10_t35_review.csv -> re_best_results_2023-08-20_r10_t30_take2_review.csv
Renamed: re_best_results_2023-08-30_r10_t35_review.csv -> re_best_results_2023-08-30_r10_t30_take2_review.csv
Renamed: re_best_results_2023-08-23_r10_t35_review.csv -> re_best_results_2023-08-23_r10_t30_take2_review.csv
Renamed: re_best_results_2023-08-25_r10_t35_review.csv -> re_best_results_2023-08-25_r10_t30_take2_review.csv
Renamed: re_best_results_2023-08-28_r10_t35_review.csv -> re_best_results_2023-08-28_r10_t30_take2_review.csv
Renamed: re_best_results_2023-08-18_r10_t35_review.csv -> re_best_results_2023-08-18_r10_t30_take2_review.csv
Renamed: re_best_results_2023-08-26_r10_t35_review.csv -> re_best_results_2023-08-26_r10_t30_take2_review.csv
Renamed: re_best_results_2023-08-27_r10_t35_review.csv -> re_best_results_2023-08-27_r10_t30_take2_review.csv
Renamed: re_best_results_2023-08-24_r10_t35_review.csv -> re_best_results_2023-08-24_r10_t30_take2_review.csv
Renamed: re_best_results_2023-08-29_r10_t35_review.csv -> re_best_results_2023-08-29_r10_t30_take2_review.csv
Renamed: re_best_results_2023-08-19_r10_t35_review.csv -> re_best_results_2023-08-19_r10_t30_take2_review.csv
Renamed: re_best_results_2023-08-22_r10_t35_review.csv -> re_best_results_2023-08-22_r10_t30_take2_review.csv
Renamed: re_best_results_2023-08-21_r10_t35_review.csv -> re_best_results_2023-08-21_r10_t30_take2_review.csv

In [ ]:
from sympy import symbols, Eq, Min

# 例: アトラクションの待ち時間を変数として定義
w1, w2, w3 = symbols('w1 w2 w3')  # 各アトラクションの待ち時間
total_wait_time = w1 + w2 + w3  # 総待ち時間の式

# 目的関数（例: 待ち時間の最小化）
objective_function = Min(total_wait_time)

print("目的関数:", objective_function)