In [27]:
import pandas as pd
import numpy as np

In [28]:
TDS_7=pd.read_csv('data/TDS_7.csv',header=0)
TDS_8=pd.read_csv('data/TDS_8.csv',header=0)

In [29]:
df=pd.concat([TDS_7, TDS_8], ignore_index=True)
df = df.drop(columns=['Unnamed: 0', '時間', '曜日_数値', '曜日', '休日'])
df.head()

,ソアリン,トイストーリーマニア,タワーオブテラー,センターオブジアース,インディージョーンズ,レイジングスピリッツ,マジックランプシアター,タートルトーク
0,95,65,50,25,5,5,0,0
1,80,65,45,35,10,5,0,0
2,110,65,55,45,10,10,0,0
3,110,65,60,45,10,10,0,0
4,120,65,55,40,20,20,30,15

In [30]:
ranking=df.mean()
display(ranking)

ソアリン           84.413842
トイストーリーマニア     68.810028
タワーオブテラー       55.205685
センターオブジアース     45.221575
インディージョーンズ     33.131179
レイジングスピリッツ     28.129414
マジックランプシアター    19.480932
タートルトーク        21.972105
dtype: float64

In [31]:
data = {
    'アトラクション': ['ソアリン', 'トイストーリーマニア', 'タワーオブテラー', 'センターオブジアース', 'インディージョーンズ', 'レイジングスピリッツ', 'マジックランプシアター', 'タートルトーク'],
    '待ち時間': [84.413842, 68.810028, 55.205685, 45.221575, 33.131179, 28.129414, 19.480932, 21.972105]
}

# DataFrameに変換
df = pd.DataFrame(data)

sorted_df_desc = df.sort_values(by='待ち時間', ascending=False)
print("待ち時間でソート（降順）:\n", sorted_df_desc)

待ち時間でソート（降順）:
        アトラクション       待ち時間
0         ソアリン  84.413842
1   トイストーリーマニア  68.810028
2     タワーオブテラー  55.205685
3   センターオブジアース  45.221575
4   インディージョーンズ  33.131179
5   レイジングスピリッツ  28.129414
7      タートルトーク  21.972105
6  マジックランプシアター  19.480932

In [32]:
df['weight'] = df['待ち時間'].round()
df=df.drop(columns=['待ち時間'])

# 結果を表示
print("四捨五入したデータフレーム:\n", df)

四捨五入したデータフレーム:
        アトラクション  weight
0         ソアリン    84.0
1   トイストーリーマニア    69.0
2     タワーオブテラー    55.0
3   センターオブジアース    45.0
4   インディージョーンズ    33.0
5   レイジングスピリッツ    28.0
6  マジックランプシアター    19.0
7      タートルトーク    22.0

In [35]:
data = {
    'アトラクション': ['ソアリン', 'トイストーリーマニア', 'タワーオブテラー', 'センターオブジアース', 'インディージョーンズ', 'レイジングスピリッツ', 'マジックランプシアター', 'タートルトーク'],
    'weight': [84, 69, 55, 45, 33, 28, 19, 22]
}

df = pd.DataFrame(data)

# 結果を表示
df.head()

      アトラクション  weight
0        ソアリン      84
1  トイストーリーマニア      69
2    タワーオブテラー      55
3  センターオブジアース      45
4  インディージョーンズ      33

# ナップザック問題の定義
max_time = 705  # パーク内にいる時間 9:00~20:45 計705分
move_time = 30  # アトラクション間の移動時間 30分
start_time = datetime.strptime('2022-07-01 09:00:00', '%Y-%m-%d %H:%M:%S')

# 時間と待ち時間を含めたナップザック問題を解く
def knapsack(max_time, required_times, popularity, waiting_times, move_time):
    n = len(required_times)
    dp = np.zeros((n+1, max_time+1))
    keep = np.zeros((n+1, max_time+1), dtype=bool)

    for i in range(1, n+1):
        for w in range(max_time+1):
            total_time = required_times[i-1] + waiting_times[i-1] + (move_time if i > 1 else 0)
            if total_time <= w:
                if dp[i-1][w] < dp[i-1][w-total_time] + popularity[i-1]:
                    dp[i][w] = dp[i-1][w-total_time] + popularity[i-1]
                    keep[i][w] = True
                else:
                    dp[i][w] = dp[i-1][w]
            else:
                dp[i][w] = dp[i-1][w]

    # 解を復元する
    res = []
    times = []
    w = max_time
    for i in range(n, 0, -1):
        if keep[i][w]:
            res.append(attractions[i-1])
            total_time = required_times[i-1] + waiting_times[i-1] + (move_time if i > 1 else 0)
            w -= total_time
            times.append(w)

    res.reverse()
    times.reverse()
    return res, times, dp[n][max_time]

# 各時間帯の待ち時間を使ってナップザック問題を解く
best_plan = []
best_times = []
max_popularity = 0
for index, row in data.iterrows():
    waiting_times = [row[attr] for attr in attractions]
    plan, times, popularity_score = knapsack(max_time, required_times, popularity, waiting_times, move_time)
    if popularity_score > max_popularity:
        max_popularity = popularity_score
        best_plan = plan
        best_times = times

# アトラクションに乗った時間を計算
ride_times = [start_time + timedelta(minutes=(max_time - t)) for t in best_times]

# アトラクションとその乗る時間をペアにする
ride_schedule = list(zip(ride_times, best_plan))

# 時間でソートする
ride_schedule.sort(key=lambda x: x[0])

# 結果を表示
for time, attraction in ride_schedule:
    print(f"{time.strftime('%Y-%m-%d %H:%M:%S')} に {attraction} に乗ります")

print("最大人気度スコア:", max_popularity)