In [5]:
import pandas as pd
import numpy as np
df_22_7_TDS=pd.read_csv('data/202207_DisneySea.csv',header=0)
df_22_8_TDS=pd.read_csv('data/202208_DisneySea.csv',header=0)
df_23_7_TDS=pd.read_csv('data/202307_DisneySea.csv',header=0)
df_23_8_TDS=pd.read_csv('data/202308_DisneySea.csv',header=0)

In [6]:
new_column_names = {'ソアリン': 'ソアリン', 'トイ・\nストーリ\n・マニア': 'トイストーリーマニア','タワー・\nオブ・\nテラー':'タワーオブテラー','センター\n・オブ・\nジアース':'センターオブジアース','インディ\nジョー\nンズ':'インディージョーンズ','レイジング\nスピリッツ':'レイジングスピリッツ','マジック\nランプ\nシアター':'マジックランプシアター','タートル\n・トーク':'タートルトーク'}

In [7]:
df_22_7_TDS.rename(columns=new_column_names, inplace=True)
df_22_8_TDS.rename(columns=new_column_names, inplace=True)
df_23_7_TDS.rename(columns=new_column_names, inplace=True)
df_23_8_TDS.rename(columns=new_column_names, inplace=True)

In [8]:
display(df_22_7_TDS.head())
display(df_22_8_TDS.head())
display(df_23_7_TDS.head())
display(df_23_8_TDS.head())

,Unnamed: 0,時間,ソアリン,トイストーリーマニア,タワーオブテラー,センターオブジアース,インディージョーンズ,レイジングスピリッツ,マジックランプシアター,タートルトーク,曜日_数値,曜日,休日
0,0,2022-07-01 09:00:00,95,65,50,25,5,5,0,0,4,Friday,False
1,0,2022-07-01 09:15:00,80,65,45,35,10,5,0,0,4,Friday,False
2,0,2022-07-01 09:30:00,110,65,55,45,10,10,0,0,4,Friday,False
3,0,2022-07-01 09:45:00,110,65,60,45,10,10,0,0,4,Friday,False
4,0,2022-07-01 10:00:00,120,65,55,40,20,20,30,15,4,Friday,False

,Unnamed: 0,時間,ソアリン,トイストーリーマニア,タワーオブテラー,センターオブジアース,インディージョーンズ,レイジングスピリッツ,マジックランプシアター,タートルトーク,曜日_数値,曜日,休日
0,0,2022-08-01 09:00:00,90,85,80,40,20,5,0,0,0,Monday,False
1,0,2022-08-01 09:15:00,95,85,90,45,30,5,0,0,0,Monday,False
2,0,2022-08-01 09:30:00,95,85,90,50,30,15,0,0,0,Monday,False
3,0,2022-08-01 09:45:00,90,75,80,45,25,25,0,0,0,Monday,False
4,0,2022-08-01 10:00:00,80,60,80,45,35,35,10,5,0,Monday,False

,Unnamed: 0,時間,ソアリン,トイストーリーマニア,タワーオブテラー,センターオブジアース,インディージョーンズ,レイジングスピリッツ,マジックランプシアター,タートルトーク,曜日_数値,曜日,休日
0,0,2023-07-01 09:00:00,0,0,0,0,0,0,0,0,5,Saturday,False
1,0,2023-07-01 09:15:00,130,25,55,40,20,15,0,20,5,Saturday,False
2,0,2023-07-01 09:30:00,140,85,45,50,30,20,0,20,5,Saturday,False
3,0,2023-07-01 09:45:00,140,90,35,55,30,15,0,15,5,Saturday,False
4,0,2023-07-01 10:00:00,140,90,40,55,40,10,0,25,5,Saturday,False

,Unnamed: 0,時間,ソアリン,トイストーリーマニア,タワーオブテラー,センターオブジアース,インディージョーンズ,レイジングスピリッツ,マジックランプシアター,タートルトーク,曜日_数値,曜日,休日
0,0,2023-08-01 09:00:00,0,0,0,0,0,0,0,0,1,Tuesday,False
1,0,2023-08-01 09:15:00,140,110,50,55,10,10,0,15,1,Tuesday,False
2,0,2023-08-01 09:30:00,140,120,70,70,30,40,0,20,1,Tuesday,False
3,0,2023-08-01 09:45:00,140,110,65,65,70,45,0,35,1,Tuesday,False
4,0,2023-08-01 10:00:00,130,110,60,0,80,50,0,35,1,Tuesday,False

In [9]:
print(df_22_7_TDS.shape)
print(df_22_8_TDS.shape)
print(df_23_7_TDS.shape)
print(df_23_8_TDS.shape)

(1392, 13)
(1440, 13)
(1392, 13)
(1440, 13)

In [10]:
df_22_7_TDS=df_22_7_TDS.drop(columns=['Unnamed: 0'])
df_22_8_TDS=df_22_8_TDS.drop(columns=['Unnamed: 0'])
df_23_7_TDS=df_23_7_TDS.drop(columns=['Unnamed: 0'])
df_23_8_TDS=df_23_8_TDS.drop(columns=['Unnamed: 0'])

In [11]:
print(df_22_7_TDS.shape)
print(df_22_8_TDS.shape)
print(df_23_7_TDS.shape)
print(df_23_8_TDS.shape)

(1392, 12)
(1440, 12)
(1392, 12)
(1440, 12)

In [12]:
display(df_22_7_TDS.head())
display(df_22_8_TDS.head())
display(df_23_7_TDS.head())
display(df_23_8_TDS.head())

,時間,ソアリン,トイストーリーマニア,タワーオブテラー,センターオブジアース,インディージョーンズ,レイジングスピリッツ,マジックランプシアター,タートルトーク,曜日_数値,曜日,休日
0,2022-07-01 09:00:00,95,65,50,25,5,5,0,0,4,Friday,False
1,2022-07-01 09:15:00,80,65,45,35,10,5,0,0,4,Friday,False
2,2022-07-01 09:30:00,110,65,55,45,10,10,0,0,4,Friday,False
3,2022-07-01 09:45:00,110,65,60,45,10,10,0,0,4,Friday,False
4,2022-07-01 10:00:00,120,65,55,40,20,20,30,15,4,Friday,False

,時間,ソアリン,トイストーリーマニア,タワーオブテラー,センターオブジアース,インディージョーンズ,レイジングスピリッツ,マジックランプシアター,タートルトーク,曜日_数値,曜日,休日
0,2022-08-01 09:00:00,90,85,80,40,20,5,0,0,0,Monday,False
1,2022-08-01 09:15:00,95,85,90,45,30,5,0,0,0,Monday,False
2,2022-08-01 09:30:00,95,85,90,50,30,15,0,0,0,Monday,False
3,2022-08-01 09:45:00,90,75,80,45,25,25,0,0,0,Monday,False
4,2022-08-01 10:00:00,80,60,80,45,35,35,10,5,0,Monday,False

,時間,ソアリン,トイストーリーマニア,タワーオブテラー,センターオブジアース,インディージョーンズ,レイジングスピリッツ,マジックランプシアター,タートルトーク,曜日_数値,曜日,休日
0,2023-07-01 09:00:00,0,0,0,0,0,0,0,0,5,Saturday,False
1,2023-07-01 09:15:00,130,25,55,40,20,15,0,20,5,Saturday,False
2,2023-07-01 09:30:00,140,85,45,50,30,20,0,20,5,Saturday,False
3,2023-07-01 09:45:00,140,90,35,55,30,15,0,15,5,Saturday,False
4,2023-07-01 10:00:00,140,90,40,55,40,10,0,25,5,Saturday,False

,時間,ソアリン,トイストーリーマニア,タワーオブテラー,センターオブジアース,インディージョーンズ,レイジングスピリッツ,マジックランプシアター,タートルトーク,曜日_数値,曜日,休日
0,2023-08-01 09:00:00,0,0,0,0,0,0,0,0,1,Tuesday,False
1,2023-08-01 09:15:00,140,110,50,55,10,10,0,15,1,Tuesday,False
2,2023-08-01 09:30:00,140,120,70,70,30,40,0,20,1,Tuesday,False
3,2023-08-01 09:45:00,140,110,65,65,70,45,0,35,1,Tuesday,False
4,2023-08-01 10:00:00,130,110,60,0,80,50,0,35,1,Tuesday,False

In [14]:
df_22_7_TDS.to_csv('data/TDS_22_7.csv')
df_22_8_TDS.to_csv('data/TDS_22_8.csv')
df_23_7_TDS.to_csv('data/TDS_23_7.csv')
df_23_8_TDS.to_csv('data/TDS_23_8.csv')