In [1]:
import pandas as pd
import numpy as np

In [2]:
TDS_22_7=pd.read_csv('data/TDS_22_7.csv',header=0)
TDS_22_8=pd.read_csv('data/TDS_22_8.csv',header=0)
TDS_23_7=pd.read_csv('data/TDS_23_7.csv',header=0)
TDS_23_8=pd.read_csv('data/TDS_23_8.csv',header=0)

In [3]:
print(TDS_22_7.shape)
print(TDS_22_8.shape)
print(TDS_23_7.shape)
print(TDS_23_8.shape)

(1392, 13)
(1440, 13)
(1392, 13)
(1440, 13)

In [5]:
display(TDS_22_7.head())
display(TDS_22_8.head())
display(TDS_23_7.head())
display(TDS_23_8.head())

,Unnamed: 0,時間,ソアリン,トイストーリーマニア,タワーオブテラー,センターオブジアース,インディージョーンズ,レイジングスピリッツ,マジックランプシアター,タートルトーク,曜日_数値,曜日,休日
0,0,2022-07-01 09:00:00,95,65,50,25,5,5,0,0,4,Friday,False
1,1,2022-07-01 09:15:00,80,65,45,35,10,5,0,0,4,Friday,False
2,2,2022-07-01 09:30:00,110,65,55,45,10,10,0,0,4,Friday,False
3,3,2022-07-01 09:45:00,110,65,60,45,10,10,0,0,4,Friday,False
4,4,2022-07-01 10:00:00,120,65,55,40,20,20,30,15,4,Friday,False

,Unnamed: 0,時間,ソアリン,トイストーリーマニア,タワーオブテラー,センターオブジアース,インディージョーンズ,レイジングスピリッツ,マジックランプシアター,タートルトーク,曜日_数値,曜日,休日
0,0,2022-08-01 09:00:00,90,85,80,40,20,5,0,0,0,Monday,False
1,1,2022-08-01 09:15:00,95,85,90,45,30,5,0,0,0,Monday,False
2,2,2022-08-01 09:30:00,95,85,90,50,30,15,0,0,0,Monday,False
3,3,2022-08-01 09:45:00,90,75,80,45,25,25,0,0,0,Monday,False
4,4,2022-08-01 10:00:00,80,60,80,45,35,35,10,5,0,Monday,False

,Unnamed: 0,時間,ソアリン,トイストーリーマニア,タワーオブテラー,センターオブジアース,インディージョーンズ,レイジングスピリッツ,マジックランプシアター,タートルトーク,曜日_数値,曜日,休日
0,0,2023-07-01 09:00:00,0,0,0,0,0,0,0,0,5,Saturday,False
1,1,2023-07-01 09:15:00,130,25,55,40,20,15,0,20,5,Saturday,False
2,2,2023-07-01 09:30:00,140,85,45,50,30,20,0,20,5,Saturday,False
3,3,2023-07-01 09:45:00,140,90,35,55,30,15,0,15,5,Saturday,False
4,4,2023-07-01 10:00:00,140,90,40,55,40,10,0,25,5,Saturday,False

,Unnamed: 0,時間,ソアリン,トイストーリーマニア,タワーオブテラー,センターオブジアース,インディージョーンズ,レイジングスピリッツ,マジックランプシアター,タートルトーク,曜日_数値,曜日,休日
0,0,2023-08-01 09:00:00,0,0,0,0,0,0,0,0,1,Tuesday,False
1,1,2023-08-01 09:15:00,140,110,50,55,10,10,0,15,1,Tuesday,False
2,2,2023-08-01 09:30:00,140,120,70,70,30,40,0,20,1,Tuesday,False
3,3,2023-08-01 09:45:00,140,110,65,65,70,45,0,35,1,Tuesday,False
4,4,2023-08-01 10:00:00,130,110,60,0,80,50,0,35,1,Tuesday,False

In [6]:
import pandas as pd

# 縦連結
merged_df = pd.concat([TDS_22_7, TDS_23_7], ignore_index=True)
merged_df2 = pd.concat([TDS_22_8, TDS_23_8], ignore_index=True)

# 結果を新しいCSVファイルとして保存
output_file = 'TDS_7.csv'
output_file2 = 'TDS_8.csv'
merged_df.to_csv(output_file, index=False)
merged_df2.to_csv(output_file2, index=False)

print(f"結合されたCSVファイルが {output_file} に保存されました。")
print(f"結合されたCSVファイルが {output_file2} に保存されました。")

結合されたCSVファイルが TDS_7.csv に保存されました。
結合されたCSVファイルが TDS_8.csv に保存されました。